<div class="products">
  <div class="container">
    <app-navigation></app-navigation>
    <div class="catalog">
      <div class="row">
        <div class="columns">
          <h1>Catálogo de productos</h1>
        </div>
        <div class="columns shrink">
          <form>
            <label>¿Qué estás buscando?</label>
            <input type="text" placeholder="Buscar producto">
          </form>
        </div>
      </div>
      <div class="row align-justify products-2">
        <div class="columns small-24 medium-7 large-5 card" *ngFor="let product of products">
          <img [src]="product.image">
          <h2>{{ product.name }}</h2>
          <div class="block">
            <b>Precio:</b> $
            {{ product.price }}
          </div>
          <div class="block">
            <b>Unidades disponibles:</b>
            {{ product.stock }}
          </div>
          <div class="row align-justify">
            <div class="columns shrink">
              <a href="" class="btn blue">Ver Más</a>
            </div>
            <div class="columns shrink">
              <form (ngSubmit)="onSubmit()" #form="ngForm">
                <button class="btn yellow" type="submit">Añadir</button>
                <input type="number">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
